@font-face {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    src: url(assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-weight: 400;
    font-family: "Neucha";
    src: url(assets/fonts/Neucha-Regular.ttf);
}

:root {
    --white: #fff;
    --white-tr: #d7ccc0;
    --beige-l: #f5f4f0;
    --beige-d: #b09a81;
    --orange: #fe8a02;
    --orange-d: #ea7600;
    --grey: #42413c;
    --grey-l: #e3e3e3;
    --grey-d: #2a2626;
    --grey-tr: #908d8b;
    --blue: #1085c5;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;

    color: var(--grey-d);

    overflow-x: hidden;
}

.content-wrapper {
    width: 1110px;

    margin: 0 auto;
    padding: 100px 0;
}

.section::before {
    position: absolute;
    left: 0;
    z-index: -100;

    display: block;

    width: 100%;
    height: auto;
    min-height: 100%;

    content: "";
}

.background-img::before {
    z-index: -200;

    background-image: url(assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;
}

.background-white {
    background: var(--white);
}

.background-grey::before {
    height: 1020px;

    background: var(--grey);
}

.background-beige {
    position: relative;
    z-index: -300;

    background: var(--beige-d);
}

.background-l-grey {
    position: relative;
    z-index: -300;

    background: var(--grey-l);
}

h1, 
h2,
h3 {
    font-family: "Neucha";
    font-weight: 400;
    line-height: 1.2em;

    color: var(--orange);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

h4 {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 5px 10px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--white);

    background: var(--orange-d);

    cursor: pointer;
}

.paragraph-24 {
    font-size: 24px;
}

.paragraph-34 {
    font-size: 34px;
    line-height: 1.2;
}

.text-yellow {
    color: var(--orange);
}

.text-white {
    color: var(--white);
}

.text-grey {
    color: var(--grey-tr);
}

.text-white-tr {
    color: var(--white-tr);
}

.text-beige {
    color: var(--beige-d);
}

.text-black {
    color: var(--grey-d);
}

.header-wrapper {
    position: relative;
}

.header-img {
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: -100;

    height: 525px;
}

.header-paragraph {
    padding-top: 25px;
}

.header-header {
    margin-top: 0;
    margin-bottom: 185px;
} 

.header-link {
    display: block;
    width: 115px;

    margin-top: 40px;
    padding: 12px 24px;

    font-weight: 700;

    color: var(--white);

    background: var(--orange);
}

.header-link:hover {
    cursor: pointer;
}

.explain-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 704px;

    padding-bottom: 0;
}

.explain-header {
    margin-top: 0;
    margin-bottom: 30px;

    text-align: center;
}

.explain-author {
    margin-top: 0;
    margin-bottom: 30px;
}

.video {
    position: absolute;
    z-index: 300;
    bottom: -100px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav-wrapper {
    padding-top: 200px;
}

.nav-header {
    margin-top: 0;
    font-size: 52px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 720px;

    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
}

.nav-item-link {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 300px;

    margin-right: 30px;
    margin-bottom: 20px;
    padding: 24px;

    color: inherit;

    background: var(--white);
    
    text-decoration: none;
}

.nav-item-link .header {
    margin-top: 0;
}

.nav-item-link:hover p {
    color: var(--white);
}

.nav-item-link:hover h3 {
    color: var(--white);
}

.nav-item:first-child {
    background: none;
}

.nav-item:nth-child(3n) .nav-item-link{
    margin-right: 0;
}

.nav-item h3 {
    order: 2;

    margin-top:0;
    margin-bottom: 16px;
}

.nav-paragraph {
    order: 3;

    margin: 0;
}

.nav-number {
    order: 1;

    margin-top: 0;
    margin-bottom: 40px;

    font-family: "Neucha";
    font-size: 64px;
    line-height: 1;
}

.biases-wrapper {
    column-count: 2;
    column-gap: 30px;
}

.detail-description {
    display: flex;
    flex-direction: column;

    width: 500px;
}

.detail-img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.description-right {
    float: right;
}

.img-right {
    position: relative;
    right: 38px;
}

.detail-chapter,
.detail-prologue {
    font-family: "Neucha";
}

.detail-chapter {
    order: 1;

    margin-top: 0;
    margin-bottom: 0;
}

.detail-prologue {
    order: 3;

    margin-top: 0;
}

.detail-header {
    order: 2;

    margin-top: 0;
    margin-bottom: 30px;
}

.detail-appearance {
    column-span: all;
}

.back-beige {
    background: var(--beige-d);
}

.back-white {
    background: var(--white);
}

.paragraph-container {
    column-count: 2;
    column-gap: 30px;
}

.paragraph-container p {
    break-inside: avoid;
    margin-top: 0;
    margin-bottom: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--grey-d);
}

.form-header {
    margin-top: 0;
    margin-right: 120px;
    margin-bottom: 0;
}

.input-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 435px;
    height: 190px;
}

input {
    height: 50px;

    margin-top: 9px;
    padding: 0;
    padding-left: 15px;

    font-size: 13px;

    color: var(--grey-l);

    border: none;
}

.form-button {
    position: relative;

    width: 70px;
    height: 50px;

    margin: 0;

    background: var(--orange);

    border: none;
}

.send {
    position: absolute;
    top: 74px;
    left: 380px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.send::before {
    position: absolute;
    z-index: 100;

    display: block;

    width: 25px;
    height: 25px;

    background-image: url(assets/images/send.svg);
    background-size: auto;
    background-repeat: no-repeat;
    
    content: "";
}

.agree {
    margin: 0;

    font-size: 12px;
}

.agree-link {
    color: var(--white);

    text-decoration: underline;
}

.copyright {
    margin-top: 76px;

    font-size: 14px;
    text-align: center;
}

.link-blue {
    color: var(--blue);

    text-decoration: underline;
}