@font-face {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    src: url(assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-weight: 400;
    font-family: "Neucha";
    src: url(assets/fonts/Neucha-Regular.ttf);
}

:root {
    --white: #fff;
    --white-tr: #d7ccc0;
    --beige-l: #f5f4f0;
    --beige-d: #b09a81;
    --orange: #fe8a02;
    --grey: #42413c;
    --grey-d: #2a2626;
    --grey-tr: #908d8b;
    --blue: #1085c5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--grey-d);

    background: #e5e5e5;
}

.header {
    margin-top: 0;

    font-weight: 400;
    font-family: "Neucha";
    line-height: 1.2em;
}

.header-f {
    font-size: 72px;
}

.header-s {
    font-size: 60px;
}

.header-t {
    font-size: 34px;
}

.header-fo {
    padding: 5px 10px;
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.paragraph-24 {
    font-size: 24px;
}

.paragraph-34 {
    font-size: 34px;
    line-height: 1.2;
}

.section {    
    width: 1110px;
    height: 714px;

    padding: 100px 0;
}

.biases-detail {
    column-count: 2;
}

.detail-appearance {
    column-span: all;
}

.detail-description {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.description-right {
    float: right;
}

.detail-chapter,
.detail-prologue {
    font-family: "Neucha";
}

.detail-chapter {
    order: 1;
    margin-bottom: 0;
}

.detail-prologue {
    order: 3;
    margin-top: 0;
}

.detail-header {
    order: 2;
    margin-bottom: 30px;
}

.biases-img {
    width: 578px;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.back-beige {
    background: var(--beige-d);
}

.text-yellow {
    color: var(--orange);
}

.text-white {
    color: var(--white);
}

.text-grey {
    color: var(--grey-tr);
}

.text-white-tr {
    color: var(--white-tr);
}

li {
    list-style: none;
}

.background::before {
    position: absolute;
    left: 0;
    z-index: -200;

    display: block;
    
    width: 100%;
    height: 115%;

    content: "";
}

.background-wrapper::before {
    background-image: url(assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;
}

.background-white::before {
    background: var(--white);
}

.background-grey::before {
    background: var(--grey);
    height: 1014px;
}

.background-beige::before {
    background: var(--beige-d);
}

.paragraph-container {
    column-count: 2;
    column-gap: 30px;
}

.paragraph-container p {
    break-inside: avoid;
    margin: 0 0 40px;
}

.header-section {
    position: relative;
}

.header-img {
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: -100;

    height: 525px;
}

.header-header {
    margin-bottom: 185px;
}

.link {
    text-decoration: none;
}

.header-link {
    padding: 12px 24px;

    font-weight: 700;
    color: var(--white);

    background: var(--orange);
}

.explain {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 0;
}

.explain-header {
    margin-bottom: 30px;

    text-align: center;
}

.explain-author {
    margin-top: 0;
    margin-bottom: 30px;
}

.video {
    position: absolute;
    bottom: -100px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.biases {
    display: flex;
    padding-top: 200px;
}

.biases-header {
    font-size: 52px;
}

.biases-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 720px;
    margin: 0;
    padding: 0;
}

.biases-item {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 300px;

    padding: 24px;
    margin-right: 30px;
    margin-bottom: 20px;

    background: var(--white);
}

.biases-item:first-child {
    background: none;
}

.biases-item:nth-child(3n) {
    margin-right: 0;
}

.biases-item .header {
    order: 2;
    margin-bottom: 16px;
}

.biases-paragraph {
    order: 3;
    margin: 0;
}

.biases-number {
    order: 1;
    margin-top: 0;
    margin-bottom: 40px;
    font-family: "Neucha";
    font-size: 64px;
    line-height: 1;
}

